[submodule "components/http_server"]
	path = components/http_server
	url = https://github.com/rabarar/esp32-http-server.git
[submodule "esp32-cam-demo"]
	path = esp32-cam-demo
	url = https://github.com/rabarar/esp32-cam-demo
