[submodule "components/esp32-http-server"]
	path = components/esp32-http-server
	url = https://github.com/rabarar/esp32-http-server.git
[submodule "components/http-server"]
	path = components/http-server
	url = https://github.com/rabarar/esp32-http-server.git
